* {
    box-sizing: border-box;
}

:root {
    --background: #1b1d21;
    --level_1: #2e3136;
    --button: #3d4852;
    --button_highlight: #5e6e80;
    --color_10: rgba(82, 99, 74, 0.1);
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 20px;
    color: rgba(255,255,255,0.5);
    font-family: sans-serif;
    display: grid;
    grid-gap: 20px;
}
h2 {
    margin: 0 0 30px 0;
}
a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}
a:hover {
    color: rgba(255,255,255,1);
}
.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.stat {
    font-size: 40px;
    font-weight: 800;
}
@media (max-width: 768px) {
    .stat {
        font-size: 25px;
    }
}

.mobile {
    display: none;
}
@media (max-width: 768px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}

.object {
    background-color: var(--level_1);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.chart {
    height: 300px;
    margin-top: 20px;
    display: grid;
}
@media (max-width: 768px) {
    .chart {
        height: 200px;
    }
}
.btn {
    color: rgba(255,255,255,0.5);
    background-color: var(--button);
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 40px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
    cursor: pointer;
}
.btn:hover, .btn-active {
    background-color: var(--button_highlight);
}
.icon {
    --color: rgba(255,255,255,0.5);
}
.icon:hover {
    --color: rgba(255,255,255,0.9);
}
.nav {
    display: grid;
    grid-template-columns: 1fr 30px;
}
.nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav ul li {
    display: inline-block;
    margin-right: 1px;
    background-color: var(--button);
    padding: 5px 15px;
    border-radius: 15px;
}
.nav ul li.active {
    background-color: var(--button_highlight);
}
.nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.nav__icon {
    margin-right: 2px;
    width: 15px;
    height: 15px;
}
.nav__right {
    text-align: right;
    padding-top: 5px;
}
.logo {
    font-weight: 800;
    margin-right: 20px;
}
.form label {
    display: block;
    margin-bottom: 5px;
    color: rgba(255,255,255,0.9);
}
.form input {
    width: 400px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}
@media (max-width: 768px) {
    .form input {
        width: 100%;
    }
}
.form button {
    background-color: var(--button);
    color: white;
    font-size: 15px;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.form button:hover {
    background-color: var(--button_highlight);
}
.form__group {
    margin-bottom: 30px;
}
.form__saved {
    background-color: #4f805d;
    color: rgba(255,255,255,0.9);
    padding: 10px 40px;
    border-radius: 10px;
}
