body {
    background-color: #212326;
    margin: 0;
    padding: 20px;
    color: rgba(255,255,255,0.5);
    font-family: sans-serif;
    display: grid;
    grid-gap: 20px;
}
h2 {
    margin: 0 0 30px 0;
}
a {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}
a:hover {
    color: rgba(255,255,255,1);
}
.stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.stat {
    font-size: 40px;
    font-weight: 800;
}
.object {
    background-color: #2e3136;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#chart {
    height: 400px;
    margin-top: 20px;
    display: grid;
}
.btn {
    color: rgba(255,255,255,0.5);
    background-color: #3d4852;
    border: none;
    border-radius: 4px;
    padding: 5px;
    width: 40px;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
}
.btn:hover, .btn-active {
    background-color: #5e6c83;
}
.icon {
    --color: rgba(255,255,255,0.5);
}
.icon:hover {
    --color: rgba(255,255,255,0.9);
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}
.nav ul li {
    display: inline-block;
    margin-right: 20px;
}
.nav__right {
    text-align: right;
}
.logo {
    font-weight: 800;
}
.form label {
    display: block;
    margin-bottom: 5px;
    color: rgba(255,255,255,0.9);
}
.form input {
    width: 400px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}
.form button {
    background-color: #7b39d0;
    color: white;
    font-size: 15px;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.form button:hover {
    background-color: #8f4de0;
}
.form__group {
    margin-bottom: 30px;
}
.form__saved {
    background-color: #4f805d;
    color: rgba(255,255,255,0.9);
    padding: 10px 40px;
    border-radius: 10px;
}
